<html>
            <body>
                        <title>The Essence of Success</title>
                    <applet code="CodeBrainNewsFree.class" width=320 height=200>
                      <param name="Notice"              value="Applet by www.CodeBrain.com">
                      <param name="LeftMargin"          value="75">
                      <param name="TopMargin"           value="26">
                      <param name="ScrollerWidth"       value="195">
                      <param name="ScrollerHeight"      value="102">
                      <param name="Pause"               value="3200">
                      <param name="FontName"            value="Dialog">
                      <param name="FontSize"            value="12">
                      <param name="FontStyle"           value="bold">
                      <param name="BackImage"           value="d1_background.jpg">
                      <param name="BackgroundColor"     value="0,0,0">
                      <param name="TextColor"           value="200,200,10">
                      <param name="LinkColor"           value="0,200,255">
                      <param name="xSoundFile"           value="CodeBrainNews.au">

                        <param name="Text1" value="KYLE Marketing">
                        <param name="Text2" value="Success lies not in how well known you are, but how well respected you are!">
                        <param name="Text3" value="Not in your power to take, but in your willingness to give.">
                        <param name="Text4" value="It is measured by the height of your aspirations, the breadth of your vision and the depth of your convictions.">
                        <param name="Text5" value="Do not look to the changing opinions of others for news of your success.">
                        <param name="Text6" value="Word comes in the small voice you hear at the end of the day knowing you have done your best.">
                        <param name="Text7" value="This is the only success that matters.">
                    </applet>
                </body>
            </html>

