<!DOCTYPE html>
<html>
<head>
  <title>Kyle Marketing</title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kyle Marketing delivers the highest quality Relationship Marketing results than any other apprpach. Now creating appointments for clients in the $500 MM to $1.5 BB range. This allows the owners and sales teams to more effectively place the product.">
    <meta name="tags" content="Clarus, Glassboard, Touchboard, architectural, education, health, medicine, business, IT, Military, Consumer, Commercial, Events, meeting, meetings, convention, Product Development, Project Management"
    <meta name="author" content="Bill Fulbright">

    <title>Kyle Marketing</title>

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

<%= yield %>

</body>
</html>
